
<html>
  <head>
    <title>Meadowlark Travel</title>
    {{{_sections.head}}}
  </head>
  <body>
    <header>
      <img
        src="/img/logo.jpeg"
        alt="Meadowlark Travel Logo"
        width="550"
        height="400"
      />
    </header>
    {{{body}}}
    {{{_sections.scripts}}}
  </body>
</html>