<!doctype html>
<html lang="en">
  <head>
    <title>Meadowlark Travel</title>
    {{{_sections.head}}}
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Meadowlark Travel</h1>
        <img
        src="/img/logo.jpeg"  alt="Meadowlark Travel Logo" width="550" height="400"
      />
      </header>
      {{{body}}}
    </div>
    {{{_sections.scripts}}}
  </body>
</html>